<%- include('partials/header') %>

<header class="header-articles">
    <div class="header__logo-box">
      <img src="../public/img-tech/logo.jpg" alt="Logo" class="header__logo" style="clip-path: circle(35% at 50% 50%);" />
    </div>

    <div class="header__text-box">
      <h1 class="heading-primary">
      <!--  <span class="heading-primary--main display-1">Kaizen 6.0</span>   -->
        <span class="heading-primary--sub">Articles</span>
      </h1>

      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBz8N4HIOVU3GCjZ6W5BSfAqfdjFIP3hAV4JSGNNnnPhd8Mw/viewform" class="btn btn--white btn--animated" target="_blank">Mentorship Portal</a
      > -->
    </div>
  </header>





  <main>
    
    <section class="section-about" id="aboUT">
      <!-- <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-primary--main display-3">Articles</h2>
      </div> -->
      
  
      <div class="container">
        <div class="row">
          
  
  
  
   <div class="row no-gutters horizontal-artical-card" id="article-11">
              <div class="col-md-4">
                <a href="/ces/articles/construction-manage"><img src="../public/img-article/const 4.png" class="card-img" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">  <%=article11writer %>, B.tech 2nd-year | <%=article11date %></small></p>
                  <a href="/ces/articles/construction-manage"><h1 class="card-title"><%=article11title%></h1></a>
                  <p class="card-text">95% of knowledge about a construction project is lost during progress. Learn how blockchain will solve this & how Augmented & Virtual reality will optimize the cost and time required for design selection..</p>
                </div>
              </div>
              
              
  
              <div class="row no-gutters horizontal-artical-card right-align-card" id="article-10">
              <div class="col-md-7">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted"><%=article10writer %>, B.tech 2nd-year | <%=article10date %></small></p>
                  <a href="/ces/articles/smart-transport"><h1 class="card-title"><%=article10title%></h1></a>
                  <p class="card-text">Good smart transportation refer to the integrated application of modern technology and management strategies into transportation system.</p>
                </div>
              </div>
              <div class="col-md-4">
                <a href="/ces/articles/smart-transport"><img src="../public/img-article/transport1.jpg" class="card-img" alt="..."></a>
              </div>
            </div>



           <div class="card vertical-article-card" id="article-9" style="width: 50rem;">
              <a href="/ces/articles/smart-irrigation"><img src="../public/img-article/irrigation 2.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text"><small class="text-muted"><%=article9writer %>, B.tech 2nd-year | <%=article9date %></small></p>
                  <a href="/ces/articles/smart-irrigation"><h1 class="card-title"><%=article9title%></h1></a>
                  <p class="card-text">Smart irrigation systems is a combination of an advanced AI technology of sprinklers with nozzles...</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
            
            
            
          <div class="card vertical-article-card" id="article-8" style="width: 35rem;">
              <a href="/ces/articles/smart-waste"><img src="../public/img-article/wastewater01.jpeg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text"><small class="text-muted"><%=article8writer %>, B.tech 2nd-year | <%=article8date %></small></p>
                  <a href="/ces/articles/smart-waste"><h1 class="card-title"><%=article8title%></h1></a>
                  <p class="card-text">Smart Waste Water Management is defined as the utilization of technology to optimize the performance of wastewater operations and sanitary networks...</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>


            <div class="row no-gutters horizontal-artical-card" id="article-7">
              <div class="col-md-4">
                <a href="/ces/articles/smart-building"><img src="../public/img-article/smart_building_img 1.jpg" class="card-img" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">  <%=article7writer %>, B.tech 2nd-year | <%=article7date%> </small></p>
                  <a href="/ces/articles/smart-building"><h1 class="card-title"> <%=article7title%> </h1></a>
                  <p class="card-text"> An insight on the various features of smart building justifying why smart buildings are necessary for a sustainable future..</p>
                </div>
              </div>
            </div>
            
            
            <div class="row no-gutters horizontal-artical-card" id="article-1">
              <div class="col-md-4">
                <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><img src="../public/img-article/atal-tunnel-3.jpg" class="card-img" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">  <%=article1writer %>, B.tech 2nd-year | <%=article1date%> </small></p>
                  <a href="/ces/articles/atal-tunnel-worlds-longest-highway-tunnel"><h1 class="card-title"> <%=article1title%> </h1></a>
                  <p class="card-text">The tunnel reduces the road distance by 46 Kms between Manali and Leh and the time by about 4 to 5 hours. A journey from Manali to Lahaul and Spiti Valley would now be covered in a little over 15 minutes..</p>
                </div>
              </div>
            </div>

            

            <div class="card vertical-article-card" id="article-2" style="width: 45rem;">
              <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><img src="../public/img-article/Visvesvaraya.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text"><small class="text-muted"><%=article2writer %>, B.tech 2nd-year | <%=article2date %></small></p>
                  <a href="/ces/articles/Sir-M-Visvesvaraya-The-Father-of-Indian-Engineering"><h1 class="card-title"><%=article2title%></h1></a>
                  <p class="card-text">M.Visvesvaraya(15.09.1860 – 14.04.1962) - The 19th Diwan Of Mysore, Honoured With THE BHARAT RATNA, The Knight Commander Of Indian Empire.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>



            <div class="card vertical-article-card" id="article-3" style="width: 35rem;">
              <a href="/ces/articles/The-Flatiron-Building"><img src="../public/img-article/Flatiron-Building.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text"><small class="text-muted"><%=article3writer %>, B.tech 2nd-year | <%=article3date %></small></p>
                  <a href="/ces/articles/The-Flatiron-Building"><h1 class="card-title"><%=article3title%></h1></a>
                  <p class="card-text">The distinctive triangular shape of the Flatiron Building, designed by Chicago architect Daniel Burnham and built in 1902, allowed it to fill the wedge-shaped property located at the intersection of Fifth Avenue and Broadway..</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>



            <div class="row no-gutters horizontal-artical-card right-align-card" id="article-4">
              <div class="col-md-7">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted"><%=article4writer %>, B.tech 2nd-year | <%=article4date %></small></p>
                  <a href="/ces/articles/Three-Gorges-Dam"><h1 class="card-title"><%=article4title%></h1></a>
                  <p class="card-text">It is currently the world’s largest power producing dam in terms of installed  
                    capacity which is of 22,500 Megawatts (MWs) - the Hydro Electricity produced by this plant can explicitly serve electricity to 18 million homes for an entire year
                    
                    </p>
                </div>
              </div>
              <div class="col-md-4">
                <a href="/ces/articles/Three-Gorges-Dam"><img src="../public/img-article/Three-Gorges-Dam-Yangtze-River-China.jpg" class="card-img" alt="..."></a>
              </div>
            </div>


            <div class="card vertical-article-card" id="article-5" style="width: 55rem;">
              <a href="/ces/articles/history-of-skyscrapers"><img src="../public/img-article/skyscraper.jpg" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <p class="card-text"><small class="text-muted"><%=article5writer %>, B.tech 2nd-year | <%=article5date %></small></p>
                  <a href="/ces/articles/history-of-skyscrapers"><h1 class="card-title"><%=article5title%></h1></a>
                  <p class="card-text">As the population density of urban areas has increased, so has the need for buildings that rise rather than spread. The skyscraper, which was originally a form of commercial architecture, has increasingly been used for residential purposes as well.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>



            <div class="row no-gutters horizontal-artical-card" id="article-6">
              <div class="col-md-4">
                <a href="/ces/articles/metro-man-of-india-Sreedharan"><img src="../public/img-article/metro-man-SREEDHARAN.jpg" class="card-img" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"><small class="text-muted">  <%=article6writer %>, B.tech 2nd-year | <%=article6date %></small></p>
                  <a href="/ces/articles/metro-man-of-india-Sreedharan"><h1 class="card-title"><%=article6title%></h1></a>
                  <p class="card-text">Elattuvalapil Sreedharan is an Indian civil engineer and a retired IRSE officer who
                    is known as the "Metro Man", was born on 12 June 1932 in Karukaputhur in the
                    present-day Thrithala , Palakkad district of Kerala state..</p>
                </div>
              </div>
            </div>


          
        </div>
      </div>
  
    </section>

  </main>



  <%- include('partials/footer') %>
